h1.page_title {
    font-family: 'Avenir LT Pro', sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}
p.page_notes {
    font-family: 'Avenir LT Pro', sans-serif;
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 18px;
}
div.product_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
div.product_card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

div.product_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

img.product_image{
    mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 30%, black 70%, transparent);

}

h2.product_title{
    font-family: 'Avenir LT Pro', sans-serif;
    color: white;
    font-size: 24px;
    margin: 0;
}

p.product_description{
    font-family: 'Avenir LT Pro', sans-serif;
    color: white;
    font-size: 16px;
}