header.header{
    background-color: black;
    display: flex;
}
a.logo_text{
    color: white;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "Astroz", sans-serif;
    text-decoration: none;
}
h1.slogan{
    color: white;
    font-size: 15px;
    font-weight: lighter;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Avenir LT Pro", sans-serif;
}
div.branding{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

img.logo{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav.nav{
    margin: auto;
    vertical-align: middle;
    margin-right: 20px;
}

a.nav_link{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Avenir LT Pro", sans-serif;
    text-decoration: underline 0.15em rgba(0,0,0,0);
    transition: text-decoration-color 0.5s, font-size 0.5s;
}

a.nav_link:hover{
    text-decoration-color: white;
    font-size: 25px;
}

body{
    display: none;
    padding: 0;
    margin: 0;
}

footer.footer{
    color: black;
    display: flex;
}

div.footer_content{
    text-align: left;
}
p.copyright_text{
    color: white;
    text-align: left;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Avenir LT Pro", sans-serif;
}
p.copyright_disclaimer{
    color: white;
    text-align: left;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: "Avenir LT Pro", sans-serif;
}

@font-face {
    font-family: "Astroz";
    src: url(../../res/font/astroz.TTF);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Avenir LT Pro";
    src:url(../../res/font/AVENIRLTPROLIGHT.OTF);
    font-weight: normal;
    font-style: normal;
}