h1.page_title {
    color: white;
    font-size: 48px;
    font-family: "Astroz", sans-serif;
    margin: 40px;
    text-align: center;
}
div.resources_display{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
div.resources_card{
    flex-direction: row;
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}
a.resources_link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
}
h2.resources_card_title{
    color: white;
    font-size: 24px;
    font-family: "Avenir LT Pro", sans-serif;
    margin: 20px;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 10px;
    height: auto;
}
img.github_logo{
    height: 50px;
    width: auto;
    margin: 20px;
}

h2.subtitle{
    color: white;
    font-size: 20px;
    font-family: "Avenir LT Pro", sans-serif;
    margin: 0 20px 20px 20px;
    text-align: center;
}

img.background_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.1;
    z-index: -1;
}