h1.page_title {
    color: white;
    font-size: 48px;
    font-family: "Astroz", sans-serif;
    margin: 40px;
    text-align: center;
}
div.resources_display{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}
div.resources_card{
    flex-direction: row;
    display: flex;
    align-items: left;
    justify-content: center;
}
a.resources_link{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
h2.resources_card_title{
    color: white;
    font-size: 24px;
    font-family: "Avenir LT Pro", sans-serif;
    margin: 20px;
    text-decoration: none;
    vertical-align: middle;
    padding-top: 10px;
}
img.github_logo{
    height: 50px;
    width: auto;
    margin: 20px;
}